.container {
  margin: 1rem 2rem;
}
.text-center {
  text-align: center;
}
table {
  width: 100%;
  /* border: 1px solid rgb(47, 46, 46); */
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.avatar_img {
  width: 15%;
  margin-inline: 10px;
}
.mdc-data-table__cell {
  width: 25%;
}
.btn-primary {
  padding: 8px 15px;
  background-color: #9797f8;
  border-radius: 8px;
}
.example-spacer {
  flex: 1 1 auto;
}
