<div class="form_container">
  <input type="text" placeholder="fname" [(ngModel)]="fname" />
  <input type="text" placeholder="lname" [(ngModel)]="lname" />
  <input type="text" placeholder="email" [(ngModel)]="email" />
  <input type="number" placeholder="phone" [(ngModel)]="phone" />
  <input type="password" placeholder="pass" [(ngModel)]="pass" />
  <button>Submit</button>
</div>

<p>
  <!-- Hi, I am {{ fname }} <input type="text" [(ngModel)]="email" /> {{ lname }}, my
  email is {{ email }}, my phone number {{ phone }} and I should told u my pass
  word but still im telling u, is
  {{ pass }} -->
</p>
